@model Kursach.Товары

@{
    ViewBag.Title = "Create";
}

<style>
    .category {
        padding-bottom: 12px;
    }

    .chek {
        text-decoration: none;
        font-family: sans-serif;
        color: #2a3132;
        display: inline-block;
        padding: 3px;
        border-bottom: 5px solid #2a3132;
        font-weight: bold;
    }

    .chekbutton {
        background-color: #2a3132;
        font-weight: bold;
    }
</style>

<h2 class="chek">
    Создать
</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Товары</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Наименование, "Товар", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Наименование, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Наименование, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Id_Категории, "Категория", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Id_Категории", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Id_Категории, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="&#10004; Создать" class="btn btn-default chekbutton" style="color: #90afc5" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
