@model List<Kursach.ProductsWithPrice>

@{
    ViewBag.Title = "Edit";
}

<style>
    .chek {
        text-decoration: none;
        font-family: sans-serif;
        color: #2a3132;
        display: inline-block;
        padding: 3px;
        border-bottom: 5px solid #2a3132;
        font-weight: bold;
    }

    .chekbutton {
        background-color: #2a3132;
        font-weight: bold;
        color: #90afc5;
    }
</style>

<h2 class="chek">
    Изменение цены
</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="font-weight: bold; color:#2a3132;">
        <dt>
            Товар:
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].Товар)
        </dd>

        <dt>
            Категория:
        </dt>

        <dd>
            @Html.DisplayFor(model => model[0].Категория)
        </dd>

    </dl>
    <hr />
    <table style="margin-bottom:15px">
        <tr>
            <td>
                @using (Html.BeginForm("Edit", "Товары", FormMethod.Post))
                {
                    <input type="hidden" value="@Model[0].Товар" name="product" />
                    <label>Новая цена:</label>
                    <input type="number" name="price" />
                    
                    <input type="submit" value="&#10004; Изменить" class="btn btn-default chekbutton" />
                    
                }
            </td>
            <td>
                
            </td>
        </tr>
    </table>
    <table class="table">
        <tr style="background-color:#90afc5; color:#2a3132; font-weight: bold">
            <th>
                Дата установки
            </th>
            <th>
                Дата окончания
            </th>
            <th>
                Цена
            </th>
        </tr>
        @foreach (var item in Model.OrderByDescending(i => i.Дата_установки))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_установки)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Дата_окончания)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Цена)
                </td>
            </tr>
        }
    </table>
</div>

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
